@model AskMe.Models.Question
@using AskMe.Models;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;

@{
	ViewBag.Title = "SearchList";
	Layout = "~/Views/Shared/_Layout.cshtml";

	AskMeEntities db = new AskMeEntities();
}

<h2>SearchList</h2>


@foreach (var qs in ViewBag.qList)
{
	<div class="row">
		<div class="col-md-3">
			<p style="text-align:right">
				@qs.Answers.Count answers <br />
				asked: @qs.CreationDate <br />
				user: @qs.User.UserName <br />
				solved:
				@{
					if (qs.Solved == 1)
					{
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					}
					else
					{
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					}
				}
			</p>
		</div>
		<div class="col-md-7">
			<a href="@Url.Action("ShowQuestion","Home", qs)">
				<p style="font-size:22px">@qs.Title</p>
			</a>
			<p>
				@qs.Content
			</p>
		</div>
		<div class="col-md-2">
			<p>
				Category:<br />
				<span style="color:green">@qs.Category.CategoryName</span>
			</p>
		</div>
	</div>
}
